/* variables declaration */
:root {
  --text-color: black;
  --main-background-color: white;
  --article-background-color: #bad4de;
  --navbar-hover-color: #bad4de;
}

/* reset */
body {
  margin: 0;
  padding: 0;
  font-family: "Supermercado One", cursive;
  background-color: var(--main-background-color);
  color: var(--text-color);
}

/* === SECTION TITLES === */
h1 {
  text-align: center;
  font-size: 40px;
}

/* Tablet */
@media only screen and (min-width: 720px) and (max-width:1024px){

}

/* Mobile */
@media only screen and (max-width: 720px){

}