/* === BEST GAME SECTION === */
/* Desktop */
#bestGamesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#bestGamesSection article {
  background-color: var(--article-background-color);
  overflow: auto;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  max-width: 1600px;
}

#bestGamesSection article h2 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 5px;
}

#bestGamesSection article .imgSlider {
  width: 30%;
  padding: 0;
  height: auto;
  float: left;
  margin: 0px 10px;
  position: relative;
  display: flex;
  flex: none;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.imgSlider::-webkit-scrollbar {
  height: 10px;
}
.imgSlider::-webkit-scrollbar-track{
  border: solid 1px var(--text-color);
  background: var(--main-background-color);
  /* background: green; */
}
.imgSlider::-webkit-scrollbar-thumb{
  border: dashed 1px var(--text-color);
  background: var(--navbar-hover-color);
  /* background: green; */
}

#bestGamesSection article .imgSlider li {
  list-style-type: none;
  scroll-snap-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bestGamesSection article .imgSlider li img {
  max-width: 100%;
  max-height: 100%;
}

#bestGamesSection .seeReview {
  font-size: 19px;
}

/* Tablet */
@media only screen and (min-width: 720px) and (max-width: 1024px) {
  #bestGamesSection article h2 {
    font-size: 30px;
  }
  #bestGamesSection article .imgSlider {
    width: 90%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Mobile */
@media only screen and (max-width: 720px) {
  #bestGamesSection article .imgSlider {
    width: 90%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
