/* === CONTACT SECTION === */
/* Desktop */
#contactFormular {
  text-align: center;
  font-size: 30px;
}

#contactFormular textarea {
  width: 50%;
  height: 200px;
}

#contactFormular button {
  font-family: "Supermercado One", cursive;
  font-size: 32px;
  color:var(--text-color);
  background-color: var(--main-background-color);
  color: var(--text-color);
}

#contactFormular button:hover {
  background-color: var(--navbar-hover-color);
}

/* Tablet */
@media only screen and (min-width: 720px) and (max-width:1024px){

}

/* Mobile */
@media only screen and (max-width: 720px){

}