/* === FOOTER === */
/* Desktop */
footer {
  padding-bottom: 8px;
  text-align: center;
  background-color: var(--main-background-color);
}

/* Tablet */
@media only screen and (min-width: 720px) and (max-width:1024px){

}

/* Mobile */
@media only screen and (max-width: 720px){

}