/* variables declaration */
:root {
  --text-color: black;
  --main-background-color: white;
  --article-background-color: #bad4de;
  --navbar-hover-color: #bad4de;
  --background-image: url(../icons/maze-black.svg);
  --hr-color: black;
}

/* reset */
body {
  margin: 0;
  padding: 0;
  font-family: "Supermercado One", cursive;
  background-color: var(--main-background-color);
  color: var(--text-color);
  background-image: var(--background-image);
}