/* === HEADER === */
/* Desktop */
header {
  background-color: var(--main-background-color);
}
header nav {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  align-items: center;
}
header nav #colorWheelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav #colorWheelContainer input {
  border-radius: 100%;
  cursor: pointer;
}
header nav #colorWheelContainer p {
  margin: 0;
  margin-bottom: 5px;
}
header nav ul {
  list-style-type: none;
  display: flex;
  font-size: 40px;
  justify-content: space-around;
  margin: 5px;
  padding: 0;
  align-items: center;
}
header nav ul li {
  padding: 5px 30px;
}
header nav ul li:hover {
  border-radius: 15px;
  background-color: var(--navbar-hover-color);
}
header nav a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
header nav #burgerIcon {
  display: none;
}
header nav .navbarBtn img {
  height: 50px;
}
header nav .navbarBtn:hover {
  cursor: pointer;
}
header hr {
  border: 6px solid var(--hr-color);
}

@keyframes rotateBubble {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-13deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
header nav #lightBubble img:hover {
  animation: 0.6s rotateBubble;
}

/* Tablet */
@media only screen and (min-width: 720px) and (max-width: 1024px) {
  header nav ul {
    font-size: 25px;
  }
}

/* Mobile */
@media only screen and (max-width: 720px) {
  header nav ul {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 0;
    background-color: var(--navbar-hover-color);
    opacity: 0.9;
    font-size: 35px;
    border-radius: 20px;
  }
  header nav #burgerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav #colorWheelContainer p {
    display: none;
  }
}
